@font-face {
    font-family: MyCustomFont;
    src: url('18712.ttf');
}

@media only screen and (max-width: 700px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .container,
    .container2 {
        width: 100%;
        padding: 10px;
    }
}

@media only screen and (max-width: 1100px) {
    .flex-container {
        flex-direction: row;
    }
}

@media only screen and (max-width: 1100px) {
    .left-sidebar,
    .right-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    footer, hr {
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    iframe {
        height: 350px;
    }
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: MyCustomFont, sans-serif;
}

header {
    background-color: #130e27;
    position: fixed;
    top: 10px;
    width: 100%;
    height: 100px;
    z-index: 1;
    background-size: cover;
    box-shadow: 0px 0px 4px rgba(72, 156, 234, 0.3);
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 50px auto;
}

.left-sidebar,
.right-sidebar {
    position: fixed;
    top: 0;
    height: 100%;
    width: 140px;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

.left-sidebar {
    left: 0;
    background-image: url(Hearthstone_Announcement_Art1.png);
}

.right-sidebar {
    right: 0;
    background-image: url(Hearthstone_Announcement_Art2.png);
}

.container,
.container2 {
    display: block;
    box-sizing: border-box;
    margin: 0;
    margin-top: 150px;
    
}


.container {
    text-align: center;
}

.my-div {
    display: inline-block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.highlight {
    background-color: rgba(0, 0, 0, 0.42);
    padding: 2px 0;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.imageHS {
    position: sticky;
    height: 110px;
}
.footer {
    background-color: #130e27;
}
.video {

}
hr {
    
}
.nav-menu {
    display: none;
    }
    .nav-menu {
        position: fixed;
        top: 50px;
        right: 0;
        display: flex;
        flex-direction: column;
        z-index: 9;
       }
       #burger {
        position: fixed;
        width: 31px;
        height: 25px;
       }
       #burger span {
        position: absolute;
        height: 6px;
        width: 100%;
        border-radius: 5px;
        background-color: #939ea2;
        top: 0;
        bottom: 0;
        margin: auto;
       }
       #burger span:first-child {
        top: 0;
        bottom: auto;
       }
       #burger span:last-child {
        bottom: 0;
        top: auto;
       }
       
       .menu {
        padding: 10px;
        list-style: none;
        margin: 0;
        background-color: #fff;
        position: relative;
        right: -100%;
       }
       .menu a {
        color: rgb(39, 61, 70);
        text-decoration: none;
       }